.msg-page
	display flex
	flex-direction column
	align-items center
	justify-content center
	margin 0 auto
	padding 70px 20px
	+desktop()
		max-width 700px
		min-height calc(100vh - 289px)
		padding 0 20px

	&__text
		padding 40px 0
		font-family $mulReg
		fontSize(16, 22)
		text-align center
