.slider

	.noUi
		&-base
			height 20px
			cursor pointer

		&-connects
			top 10px
			height 1px
			background-color lightness($blueDark, 80%)
			overflow visible
			&:before
			&:after
				content ""
				border-radius 50%
				float left
				display block
				width 7px
				height 7px
				margin-top -3px
				background-color lightness($blueDark, 80%)
			&:after
				float right
				margin-right -7px

		&-horizontal
			box-sizing content-box
			box-shadow none
			border-radius 0
			height 20px
			border none
			background-color transparent

		&-connect
			height 1px
			background-color $blueDark

		&-handle
			border-radius 0
			box-shadow none
			top 1px
			right -5px!important
			width 10px
			height 20px
			background-color transparent
			border none
			cursor pointer
			&:before
				display none
			&:after
				content ""
				top 6px
				left 5px
				border-radius 50%
				display block
				width 7px
				height 7px
				background-color $blueDark
			&:focus
				outline none
