mixin slider(data)
	- data = data || {}

	+b.slider(
		data-min= data.min
		data-max= data.max
		data-start= data.start.value
		data-end= data.end.value
		data-event-change= data.eventChange
	).js-slider
		input(
			type="hidden"
			name= data.start.name || "slider-start"
			value= data.start.value
		).js-slider-start
		input(
			type="hidden"
			name= data.end.name || "slider-end"
			value= data.end.value
		).js-slider-end
		+e.wrap.js-slider-wrap