mixin switch(data)

	- data = data || {}
	- random = data.id || Date.now()

	+b.switch().js-switch&attributes(attributes)

		+e.native-block
			each val in data.items
				+e.native(
					type="radio"
					name= data.name || random
					value= val.value
					checked= val.selected ? "checked" : false
				)&attributes(val.data).INPUT.js-switch-native

		+e.wrap
			each val, i in data.items
				+e.item(
					class= val.selected ? "_selected" : ""
					data-id= i
				).js-switch-item= val.text
