.header
	font-family $mulBold
	fontSize(20, 19)
	color $black
	+desktop()
		fontSize(35, 45)
	&_h2
		font-family $mulMed
		fontSize(24, 29)
		+desktop()
			fontSize(24, 29)
	&_link
		color $blueDark
	&_white
		color $white