.select
	-webkit-font-smoothing antialiased
	font-family $mulMed

	&__select
		position absolute
		left -99999px

	&__label
		display block
		height 24px
		padding-bottom 5px
		fontSize(14, 19)
		color rgba($blueDark, .4)

	&__wrap
		border-radius 6px
		height 39px
		padding 9px
		border 1px solid rgba($blueDark, .4)
		fontSize(16, 19)
		color $blueDark
		cursor pointer
		&:hover
			border-color $blueDark
		^[0]_open &
			background-color $white

	&__text
		user-select none
		display inline-block
		width calc(100% - 20px)

	&__icon
		user-select none
		display inline-block
		width 10px
		height 10px
		margin-top 3px
		vertical-align top
		& .icon
			transform rotate(45deg)
		^[0]_open & 
			margin-top 7px
			& .icon
				transform rotate(225deg)

	&__option
		padding 9px
		fontSize(16, 19)
		color $blueDark
		cursor pointer
		&:hover
		&_selected
			background-color rgba(58, 61, 112, 0.1)

		&-block
			border-radius 6px
			position absolute
			width 100%
			margin-top 10px
			border 1px solid $blueDark
			background-color $white

		&-wrap
			display none
			position relative
			^[0]_open &
				display block
