.similar
	background #fcecde
	font-family $mulMed
	font-size 20px
	&__wrap
		max-width 1070px
		margin 30px auto 40px
		padding 0 16px
		+desktop()
			padding 0 35px
			margin 50px auto
	& .header
		color $blueDark
		text-decoration none
		display block
		font-family $mulMed
		margin 20px 0 0
		line-height 1.4