include ../header/header

mixin similar(data)
	- data = data || {}

	+b.similar()&attributes(attributes)
		+e.wrap
			+e.header Что-то ещё
				each link in data
					+header({'text': link}).h2.A(href= '#')