include ../field/field
include ../button/button

mixin subscribe-overlay(data) 
    - data = data || {}

    +b.subscribe-overlay(
        data-cc= data.cc || 0
		data-msg= data.msg || 0
    ).js-subscribe-overlay
        +e.subscribe.js-container
            +e.subscribe-info
                +e.subscribe-title Рассылка
                +e.subscribe-desc Уведомим Вас о том, что товар снова в наличии!
            +e.subscribe-form.js-form.FORM
                +e.subscribe-form-el
                    +field({
                        "name": "email",
                        "validate": "email",
                        "placeholder": "Эл. почта",
                        "type": "email",
                        "color": "transparent"
                    }).catalog-page__subscribe-input
                +e.subscribe-form-el
                    +button({
                        "name": "email",
                        "text": "Подписаться",
                        "color": "#3a3d70"
                    }).catalog-page__subscribe-btn