.field
	-webkit-font-smoothing antialiased
	font-family $mulMed
	&_clear
		// padding-bottom 36px
		+desktop()
			display table
			// padding-bottom 0
	&_checkbox
		display flex
		flex-direction row
		flex-wrap wrap

	&__label
		display block
		min-height 24px
		padding-bottom 5px
		fontSize(14, 19)
		color rgba($blueDark, .4)
		^[0]_clear &
			+desktop()
				display table-row
		^[0]_checkbox &
			flex-basis calc(100% - 25px)
			max-width calc(100% - 25px)
			padding 3px 0 0 10px
		^[0]_checkbox-small &
			padding-top 2px
			fontSize(16, 19)
			color $blueDark

		^[0]_label-link &
			fontSize(14, 19)
			color $black
			a
				text-decoration none
				color $blueDark


	&__native
		position absolute
		left -99999px

	&__wrap
		border-radius 6px
		height 39px
		border 1px solid rgba($blueDark, .4)
		^[0]_textarea &
			height auto
			min-height 100px
		^[0]_focus &
			border-color $blueDark
		^[0]_error &
			border-color $red
		^[0]_color
			&-white ^[1]
				box-shadow 0 2px 2px 0 rgba($black, 0.13)
				border none
				background-color rgba($white, .7)
				^[0]_focus&
					background-color $white
			&-transparent ^[1]
				border-color transparent
		^[0]_clear &
			display table-cell
			width 100%
		^[0]_checkbox &
			flex-basis 25px
			border-radius 6px
			box-shadow 0 0 0 1px #3a3d70
			width 25px
			max-width 25px
			height 25px
			border 2px solid transparent
			cursor pointer
		^[0]_checkbox^[0]_checkbox-small &
			flex-basis 20px
			border-radius 4px
			width 20px
			max-width 20px
			height 20px
		^[0]_checkbox^[0]_checked &
			border-color $white
			background-color $blueDark

	&__input
		border-radius 6px
		width 100%
		height 37px
		padding 9px
		border none
		background-color transparent
		fontSize(16, 19)
		&:focus
			outline none
			background-color $white
		&::placeholder
			color $grey
			^[0]_paceholder-white &
				color $white
		^[0]_paceholder-white &:focus::placeholder
			color $grey
		&:-ms-input-placeholder
		&::-ms-input-placeholder
			color $grey
		// ^[0]_error &
		// 	color $red
		^[0]_textarea &
			height auto
			min-height 98px
			fontSize(16, 22)
			resize vertical
		^[0]_icon &
			display inline-block
			width calc(100% - 39px)
		^[0]_paceholder-white &
			color $white
		^[0]_paceholder-white &:focus
			color $black

	&__icon
		position relative
		top 3px
		display inline-block
		width 19px
		height 19px
		margin-left 10px
		fill rgba($blueDark, .7)

	&__clear
		display none
		^[0]_clear &
			display table-cell
			// padding-top 15px
			padding-left 10px
			padding-right 10px
			line-height 37px
			+desktop()
				padding-top 0
				padding-left 13px
				cursor pointer

		&-icon
			display inline-block
			width 11px
			height 11px
			vertical-align baseline
			fill $red
			+desktop()
				display block
				margin-bottom -14px

		&-text
			display none
			padding-left 16px
			fontSize(14, 19)
			color $red
			+desktop()
				display block

	&__error
		display none
		font-family $trola
		fontSize(20, 20)
		color $red
		^[0]_error &
			display block
		^[0]_error^[0]_clear &
			+desktop()
				display table-row
		^[0]_error^[0]_checkbox &
			flex-basis 100%

		&-text
			padding-top 15px

	&__extra
		display none
		font-family $trola
		fontSize(20, 20)
		color $green
		^[0]_extra &
			display block
		^[0]_extra^[0]_clear &
			+desktop()
				display table-row
		^[0]_extra^[0]_error &
			display none
			+desktop()
				display none

		&-text
			padding-top 15px
