include ../header/header
include ../similar/similar

mixin deal-page(data)
	- data = data || {}

	+b.deal-page

		+e.deal
			+e.content
				+e.image.IMG(src= data.img)
				+e.text
					+header({'text': data.title})
					each paragraph in data.text
						+e.paragraph()
							= paragraph
			+similar(data.similar)