.deal-page
	background $bg
	display flex
	position relative
	overflow hidden
	padding 0

	&__deal
		display flex
		flex-direction column
		+desktop()
			// flex-basis 75%
			flex 1

	&__content
		padding 16px
		margin 0 auto
		+desktop()
			padding 30px

	&__image
		margin 0 0 30px 0
		max-width 1000px
		width 100%
		display block
		border-radius 6px
		box-shadow 0 2px 6px rgba(100, 80, 0, .3)

	& .header
		max-width 1000px

	&__paragraph
		font-family $trola
		line-height 1.55
		font-size 20px
		margin 20px 0 0
		max-width 1000px
		&:last-child
			margin-bottom 60px

	// & .sidebar
	// 	display none
	// 	+desktop()
	// 		display block
	// 		height auto
	// 		flex-basis 25%
	// 		z-index 2
