include ../icon/icon

mixin button(data)
	- data = data || {}

	+b({tag: data.href ? "a" : "button"}).button(
		class= data.big ? "_big" : ""
		class= data.rounded ? "_rounded" : ""
		class= data.multiline ? "_multiline" : ""
		class= data.invert ? "_invert" : ""
		class= data.iconRight ? "_icon-right" : ""
		class= data.full ? "_full" : ""
		class= data.fullMobile ? "_full-mobile" : ""
		class= data.noWrap ? "_no-wrap" : ""
		class= data.color ? "_" + data.color : ""
		disabled= data.disabled
		href= data.href
	).js-button&attributes(attributes)

		if data.icon
			+e.icon
				+icon({icon: data.icon})

		!= data.text