.button
	border-radius 6px
	display inline-block
	height 39px
	padding 0 10px
	background-color transparent
	border 1px solid rgba($blueDark, .4)
	font-family $mulMed
	fontSize(16, 36)
	text-decoration none
	color $blueDark
	cursor pointer
	&:hover
		border-color $blueDark
	&:focus
		outline none
	&:disabled
		cursor not-allowed
		&:hover
			border-color rgba($blueDark, .4)
	&_full
		width 100%
	&_no-wrap
		white-space nowrap
	&_full-mobile
		display block
		width 100%
		text-align center
		+desktop()
			display inline-block
			width auto
	&_big
		height 73px
		padding 0 50px
		fontSize(24, 70)
	&_yellow
		background-color $yellow
		border-color $yellow
		color $black
		&:hover
			border-color $yellow
		&:disabled
			background-color lightness($black, 80%)
			border-color lightness($black, 80%)
			color lightness($black, 60%)
	&_invert
		border-color rgba($white, .5)
		color $white
		&:hover
			border-color $white
	&_white
		background-color $white
		border-color $white
		&:hover
			border-color $white
			color $red
	&_rounded
		border-radius 96px
		padding 0 16px
	&_multiline
		height auto
		padding-top 10px
		padding-bottom 10px
		line-height 18px

	&__icon
		display inline-block
		width 24px
		height 16px
		margin-top -4px
		padding-right 8px
		vertical-align middle
		^[0]_icon-right &
			float right
			margin-top 10px
			padding 0 0 0 8px
		^[0]_white
			& ^[1]
				fill $blueDark
			&:hover ^[1]
				fill $red
