.menu

	&__top
		position relative
		z-index 1
		box-shadow 0px 2px 2px rgba($black, 0.13)
		padding 20px 10px 0
		background $white
		+desktop()
			display flex
			justify-content space-between
			height 54px
			padding 0 35px

		&-more
			display none
			float right
			margin-top -48px
			^[0]_short &
				display block

	&__item
		padding-bottom 15px
		+desktop()
			flex-basis 100%
			margin-bottom -1px
			padding-bottom 0
			border-bottom 1px solid transparent
			text-align center
			&_active
				border-bottom-color $blueDark
		^[0]_short &
			display none
			&_active
				display block
			+desktop()
				display block

		&-link
			+desktop()
				display inline-block
				line-height 54px
				^[1]_active &
					cursor default

		&-icon
			display inline-block
			width 25px
			height 25px
			margin-right 10px
			vertical-align middle

			&-img
				display block
				width 100%
				height auto

		&-name
			display inline-block
			font-family $mulMed
			fontSize(16, 19)
			text-decoration none
			vertical-align middle
			color $blueDark
			^[1]_active &
				color $black
			+desktop()
				fontSize(13, 16)
			+w1200()
				fontSize(16, 19)

	&__bottom
		box-shadow 0px 2px 2px rgba($black, 0.13)
		background-color #fffdea
		+desktop()
			display flex
			justify-content space-between
			height 54px
			padding 0 35px

	&__sub
		padding 20px 10px 5px
		border-bottom 1px solid #D7D7D7
		+desktop()
			flex-basis 50%
			padding 0
			border-right 1px solid #D7D7D7
			border-bottom none
			line-height 54px

		&-item
			display inline-block
			+desktop()
				&_hide
					display none

			&-link
				display inline-block
				margin-right 25px
				padding-bottom 15px
				font-family $mulReg
				fontSize(16, 19)
				text-decoration none
				color $blueDark
				&_active
					color $black

	&__hidden
		position relative
		top -2px
		display none
		cursor pointer
		visibility hidden
		+desktop()
			display inline-block
		^[0]__sub_trim &
		^[0]__filter_trim &
			visibility visible

		&-dots
			border-radius 50%
			display inline-block
			width 6px
			height 6px
			margin 0 10px
			border 1px solid $blueDark
			^[1]:hover &
				background-color $blueDark
			&:before
			&:after
				content ""
				box-sizing border-box
				border-radius 50%
				position absolute
				display block
				width 6px
				height 6px
				margin-top -1px
				border 1px solid $blueDark
				^[1]:hover &
					background-color $blueDark
			&:before
				margin-left -12px
			&:after
				margin-left 10px

		&-wrap
			border-radius 3px
			box-shadow 0px 2px 2px rgba($black, 0.13)
			position absolute
			z-index 10
			display none
			margin -5px 0 0 -25px
			padding 23px 21px 0
			background-color $white
			line-height 20px
			cursor default
			&:before
				content ""
				position absolute
				display block
				width 0
				height 0
				margin -30px 0 0 10px
				border-left 8px solid transparent
				border-right 8px solid transparent
				border-bottom 11px solid $white
			^[1]:hover &
				display block

			& ^[0]__sub-item-link
				margin 0
				margin-bottom 23px
				padding 0
			& ^[0]__filter-check-el
				margin 0
				margin-bottom 23px

	&__filter
		+desktop()
			flex-basis 50%
			padding-left 35px
			^[0]__bottom_filter-only &
				flex-basis 100%

		&-check
			padding 20px 10px 5px
			border-bottom 1px solid #D7D7D7
			+desktop()
				display inline-block
				padding 0
				line-height 54px

			&-el
				display inline-block
				padding-right 25px
				padding-bottom 15px
				vertical-align middle
				+desktop()
					padding-bottom 0
					&_hide
						display none

		&-slider
			padding 20px 10px
			font-family $mulReg
			fontSize(16, 19)
			vertical-align bottom
			color $black
			+desktop()
				display inline-block
				padding 0 0 0 20px

			&-wrap
				display flex
				justify-content space-between

			&-params
				width 110px
				text-align right

			&-slider
				padding-right 10px
				padding-top 7px
				+desktop()
					margin-bottom -10px

			&-params
				padding-left 35px
