.purchase

	&__top
		padding-bottom 30px
		font-family $mulReg
		fontSize(14, 19)
		+desktop()
			padding-bottom 20px

	&__date
		display inline-block
		padding-right 20px
		color rgba(58, 61, 112, 0.4)

	&__repeat
		display inline-block
		cursor pointer

		&-icon
			display inline-block
			width 13px
			height 13px
			fill $blueDark

		&-text
			display inline-block
			margin-left 7px
			color $blueDark

	&__wrap
		display flex
		flex-wrap wrap
		align-items flex-start

	&__img
		border-radius 6px
		position relative
		width 200px
		height 133px
		background-color #f4f4f4
		overflow hidden
		&:last-child
			transform rotate(-2deg) translate(7px, -10px)
			margin-top -133px
		&:first-child
			transform none
			margin-top 0

		&-block
			flex-basis 200px
			+desktop()
				flex-basis 200px
				width 200px
				padding 10px 0 20px

	&__list
		order 3
		flex-basis 100%
		padding-top 17px
		+desktop()
			flex-basis calc(100% - 230px)
			max-width calc(100% - 230px)
			// max-height 180px
			margin -226px 0 0 230px

		&-wrap
			max-height 140px
			overflow hidden
			+desktop()
				max-height 160px
			^[0]_more &
				max-height none

		&-el
			display flex
			justify-content space-between
			padding-bottom 4px
			fontSize(15, 24)
			font-family $trola
			color $black
			+desktop()
				max-width 90%
				padding-bottom 12px
				fontSize(20, 20)

		&-name
			max-width calc(100% - 60px)
			// flex-basis calc(100% - 60px)
			white-space nowrap
			overflow hidden
			text-overflow ellipsis

		&-spacer
			flex-shrink 2
			flex-grow 2
			background-image linear-gradient(to right, rgba(255,255,255,0) 80%, rgba($black, .4) 0%)
			background-position 0 74%
			background-size 12px 2px
			background-repeat repeat-x

		&-amount
			text-align right

		&-rest
			fontSize(15, 32)
			font-family $trola
			text-decoration none
			color #057fff
			+desktop()
				padding-top 10px
				fontSize(20, 20)
			^[0]_more &
				display none

	&__sum
		order 2
		flex-basis calc(100% - 200px)
		font-family $trola
		fontSize(21, 36)
		text-align right
		color $black
		+desktop()
			flex-basis 100%
			fontSize(40, 40)
			text-align left
