.cart-item
	display flex
	flex-wrap wrap
	+desktop()
		flex-wrap nowrap
	&_offer
		align-items stretch
		border-radius 3px
		padding 11px 10px 19px
		background-color $white
		+desktop()
			flex-wrap wrap
			padding 23px 21px

	&__img
		order 1
		width 50%
		+desktop()
			width 120px
			min-width 120px
		+w1200()
			width 200px
			min-width 200px
		^[0]_deleted &
			opacity .2
		^[0]_offer &
			+desktop()
				margin-bottom -135px

		&-wrap
			border-radius 6px
			display block
			width 100%
			height 0
			padding-bottom 66%
			border none
			overflow hidden
		&-source
			display block
			width 100%
			height auto

	&__desc
		order 4
		flex-basis 100%
		+desktop()
			order 2
			flex-basis calc(100% - 258px)
			padding 0 15px
			hyphens auto
		+w1200()
			padding 0 29px
		^[0]_deleted &
			opacity .2

		&-desc
			width 60%
			padding 16px 0 7px
			font-family $trola
			fontSize(15, 20)
			color $black
			+desktop()
				width auto
				padding-top 0
				fontSize(20, 22)
				hyphens auto

		&-title
			font-family $mulMed
			fontSize(20, 24)
			color $blueDark
			+desktop()
				fontSize(24, 29)

	&__add
		order 3
		display none
		width 50%
		padding-left 10px
		^[0]_offer &
			display flex
			align-items stretch
			& .button
				height auto
			+desktop()
				width 100%
				padding 36px 0 0 229px
				& .button
					height 39px

	&__control
		order 2
		width 50%
		text-align right
		+desktop()
			display flex
			flex-direction column
			justify-content flex-start
			order 3
			width auto
		^[0]_offer &
			display none

		&-counter
			+desktop()
				order 2
				padding-top 20px
			^[0]_deleted &
				pointer-events none
				opacity .2

		&-price
			padding-top 10px
			font-family $trola
			fontSize(21, 22)
			color $black
			+desktop()
				order 1
				width 100%
				padding-top 0
				fontSize(35, 36)
			^[0]_deleted &
				opacity .2

		&-action
			padding-top 24px
			font-family $mulReg
			fontSize(14, 19)
			+desktop()
				order 3

		&-icon
			display inline-block
			width 13px
			height 13px
			margin 3px 6px 0 0
			vertical-align top

		&-del
			color $red
			cursor pointer
			fill $red
			^[0]_deleted &
				display none

		&-add
			display none
			color $blueDark
			cursor pointer
			fill $blueDark
			^[0]_deleted &
				display block
