include ../counter/counter
include ../icon/icon

mixin cart-item(data)

	- data = data || {}
	- priceString = data.price.toString().replace('.', ',');

	+b.cart-item(
		class= data.deleted ? "_deleted" : ""
		class= data.offer ? "_offer" : ""
		data-id= data.id || false
		data-item-price= data.itemPrice
		data-item-weight= data.itemWeight
		data-item-amount= data.itemAmount

		data-event-change= data.eventChange
	).js-cart-item
		+e.img
			+e.img-wrap.A(
				href= data.url
			)
				+e.img-source(
					src= "img/" + data.img.src
				).IMG

		+e.desc
			+e.desc-desc!= data.desc
			+e.desc-title!= data.title

		+e.add
			+button({text: "Добавить в&nbsp;заказ за&nbsp;" + priceString + "&nbsp;₽"}).js-add

		+e.control
			+e.control-counter
				+e.control-form.FORM(
					action= data.formAction
					data-json= 1
				).js-cart-item-form
					+counter(data.counter)
			+e.control-price
				span.js-price= priceString
				|  ₽
			+e.control-action
				+e.control-del.js-delete
					+e.control-icon
						+icon({icon: "close"})
					| Удалить
				+e.control-add.js-return
					+e.control-icon
						+icon({icon: "undo"})
					| Вернуть в заказ
