include ../../../node_modules/bemto.pug/bemto

doctype html
html(lang="ru")
	block variable

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		block title
			title Сайт Сернурского сырзавода
		link(rel="stylesheet", href="css/style.css")
		block head

	body(
		class= bodyClass
	)
		.svg-wrap
			// inject:svg:inline
			// endinject

		block body

		// inject:js:jq
		// endinject
		// inject:js:all
		// endinject
