.order
	+desktop()
		height 114px

	&__wrap
		padding 20px 10px 32px
		background-color $white
		+desktop()
			display flex
			flex-direction row
			width 100%
			padding 10px 35px
		+w1200()
			padding 19px 35px
		^[0]_fixed &
			position fixed
			z-index 5
			width 100%
			left 0
			bottom 0

	&__info
		font-size 0
		+desktop()
			display flex
			flex-direction column
		+w1200()
			display block

		&-el
			display inline-block
			&:first-child
				padding-right 30px
				+desktop()
					padding-bottom 5px
					padding-right 40px
				+w1200()
					padding-bottom 0

		&-title
			padding-bottom 7px
			font-family $mulReg
			fontSize(14, 19)
			color $formLabel
			+desktop()
				padding-bottom 0
				fontSize(14, 14)
			+w1200()
				padding-bottom 7px
				fontSize(14, 19)

		&-data
			font-family $trola
			fontSize(35, 36)
			white-space nowrap
			color $formLabel
			+desktop()
				fontSize(25, 25)
			+w1200()
				fontSize(35, 36)

	&__delivery
		padding-top 20px
		+desktop()
			padding-top 0
			padding-left 40px

		&-title
			font-family $mulReg
			fontSize(14, 19)
			color $formLabel

		&-rest
			padding 5px 0
			font-family $mulMed
			fontSize(24, 29)
			color $black

	&__payment
		padding-top 20px
		+desktop()
			flex-grow 2
			padding-top 0
			padding-left 40px

		&-title
			font-family $mulReg
			fontSize(14, 19)
			color $formLabel

		&-switch
			padding 10px 0

		&-discount
			+desktop()
				position absolute
				margin -54px 0 0 -22px
				
			&-perc
				display inline-block
				border-radius 50%
				height 33px
				padding 0 4px
				background-color $orange
				font-family $mulReg
				fontSize(14, 33)
				color $white

			&-desc
				display inline-block
				padding-left 8px
				font-family $trola
				fontSize(15, 15)
				color $black
				+desktop()
					display none

	&__money
		+desktop()
			display flex
			flex-direction column
			padding-left 20px
		+w1200()
			flex-direction row

	&__discount
		padding-top 20px
		color $formLabel
		cursor pointer
		+desktop()
			padding-top 0

		&-title
			font-family $mulReg
			fontSize(14, 19)
			+desktop()
				fontSize(14, 14)
			+w1200()
				fontSize(14, 19)

		&-summ
			font-family $trola
			fontSize(35, 36)
			white-space nowrap
			+desktop()
				fontSize(25, 25)
			+w1200()
				fontSize(35, 36)

		&-wrap
			position absolute
			display none
			width 300px
			height 100px
			margin-top -165px
			color $black
			+w1200()
				margin-top -190px

			+desktop()
				^[1]:hover &
					display flex
					align-items flex-end
					justify-content flex-start

		&-sub-wrap
			border-radius 2px
			padding 10px 20px
			background-color $white
			&:after
				content ""
				position absolute
				width 0
				height 0
				margin-top 9px
				border-left 10px solid transparent
				border-right 10px solid transparent
				border-top 13px solid $white

		&-block
			display flex
			justify-content space-between
			padding-bottom 6px
			font-family $mulReg
			fontSize(14, 19)
			color $black

		&-amount
			padding-left 20px
			white-space nowrap

	&__total
		padding-top 20px
		+desktop()
			padding-top 5px
		+w1200()
			padding-top 0
			padding-left 40px

		&-weight
		&-min-sum
			font-family $mulReg
			fontSize(14, 19)
			white-space nowrap
			color $formLabel

		&-weight
			^[0]_sum-err &
				display none

		&-min-sum
			display none
			color #ff5327
			^[0]_sum-err &
				display block

		&-summ
			font-family $trola
			fontSize(46, 46)
			white-space nowrap
			color $black
			+desktop()
				fontSize(30, 30)
			+w1200()
				fontSize(46, 46)

	&__btn
		padding-top 20px
		+desktop()
			padding-top 10px
			padding-left 40px
		+w1200()
			padding-top 0
