include ../button/button
include ../switch/switch
include ../scale/scale

mixin order(data)

	- data = data || {}
	- data.deliverySumm = data.deliverySumm || 0
	- data.goodsSumm = data.goodsSumm || 0
	- data.cardDiscount = data.cardDiscount || 0
	- data.stock = data.stock || 0

	+b.order(
		data-min-goods-summ= data.minGoodsSum
		data-card-discount= data.cardDiscount
		data-stock= data.stock
		data-url= data.url
	).js-order&attributes(attributes)

		+e.wrap
			+e.info
				+e.info-el
					+e.info-title Продукты
					+e.info-data
						span.js-summ= data.goodsSumm
						|  ₽
				+e.info-el
					+e.info-title Доставка
					+e.info-data 
						span.js-delivery-price= data.deliverySumm
						|  ₽

			//- +e.delivery.js-delivery
			//- 	+e.delivery-title До бесплатной доставки
			//- 	+e.delivery-rest
			//- 		span.js-delivery-rest= data.deliveyFree - data.goodsSumm
			//- 		|  ₽
			//- 	+e.delivery-scale

			//- 		-scaleData = {"total": data.deliveyFree, "value": data.goodsSumm}
			//- 		+scale(scaleData)

			+e.payment
				+e.payment-title Способ оплаты
				+e.payment-switch

					- switchData = {items:[]}
					- switchData.items.push({"text": "Картой на сайте", "value": 2, "selected": true})
					- switchData.items.push({"text": "Наличными курьеру", "value": 1})
					+switch(switchData).js-order-payment

				+e.payment-discount
					+e.payment-discount-perc −#{ data.cardDiscount }%
					+e.payment-discount-desc Скидка за оплату картой

			+e.money

				+e.discount
					+e.discount-title Скидки
					+e.discount-summ
						span.js-order-discount −23 444
						|  ₽
					+e.discount-wrap
						+e.discount-sub-wrap
							+e.discount-block
								+e.discount-type Скидка за оплату картой
								+e.discount-amount
									span.js-order-discount-card 0
									|  ₽
							+e.discount-block
								+e.discount-type Скидка за оплату бонусами
								+e.discount-amount
									span.js-order-discount-bonuses 0
									|  ₽
							div.js-order-discount-stock
								+e.discount-block
									+e.discount-type Скидки
									+e.discount-amount −44 ₽

				+e.total
					+e.total-weight
						| Итого — 
						span.js-total-mass 2 467
						|  г
					+e.total-min-sum Минимальный заказ #{ data.minGoodsSum } ₽
					+e.total-summ
						span.js-total-summ 15 979
						|  ₽

			+e.btn
				-btn = {"text": "Заказать", "color": "yellow", "big": true, "full": true}
				+button(btn)
