mixin sidebar(sections, text)
	- sections = sections || {}
	- text = text || {}

	+b.sidebar()
		+e.wrap
			each section in sections
				if section.active
					+e.section._active
						+e.section-title.A(href="#")
							= section.title
						+e.contents
							each part in text.contents
								if part.header
									+e.part()
										= part.header
				else
					+e.section
						+e.section-title.A(href="#")
							= section.title