.product
	&_not-available
		cursor not-allowed
	display block
	text-decoration none
	position relative
	&_promo
	&_small
		+desktop()
			display flex
	&__wrap
		+desktop()
			^[0]_promo &
			^[0]_small &
				display flex
				flex-direction column
				flex-basis 250px
			^[0]_promo &
				flex-basis 67%
			^[0]_promo-right &
				order 2
		^[0]_info &
			display flex
			flex-wrap wrap

	&__collection
		float right
		clear both
		position relative
		margin 0 -10px -12px 0
		^[0]_small &
			display none
		+desktop()
			margin 0 -18px -22px 0
			^[0]_promo &
				text-align right
			^[0]_promo-right &
				order 2
				position relative
				bottom -20px
				margin-top -40px
				margin-bottom 0
		^[0]_info &
			display none

	&__img
		display block
		width 100%
		height auto

		&-wrap
			clear both
			display block
			border-radius 3px
			overflow hidden
			position relative
			+desktop()
				border-radius 5px
				^[0]_promo-right &
					order 3
			^[0]_info &
				order 2
			&_not-available
				&::before
					content ' '
					display block
					position absolute
					width 100%
					height 100%
					top 0
					left 0
					background-color $disabledOverlay

	&__prop
		position relative
		border-radius 14px
		display inline-block
		margin-right 4px
		padding 5px 10px
		font-family $mulReg
		z-index 1
		fontSize(11, 13)
		+desktop()
			border-radius 20px
			margin-right 5px
			padding 7px 16px
			fontSize(14, 19)
		&_new
			background linear-gradient(to bottom, #ffeb78, #ffc90b)
			color $black
		&_discount
			background-color $orange
			color $white
		&_collection
			background-color $blueDark
			color $white
		&_not-available
			background linear-gradient(to bottom, #f2f2f2, #d9d9d9)
			color $black
		^[0]_info &
			margin-right 0
			margin-left 5px

		&-block
			display block
			width calc(100% - 90px)
			margin -12px 0 0 -6px
			font-family $mulReg
			^[0]_small &
				display none
			+desktop()
				margin -22px 0 0 -13px
				^[0]_promo-right &
					order 1
					position relative
					float left
					height 33px
					margin 0 0 -14px -13px
			^[0]_info &
				position relative
				right -12px
				width 100%
				margin 0 0 -14px 0
				text-align right

	&__price
		border-radius 50%
		position relative
		float right
		width 78px
		height 78px
		border 3px solid $white
		background-color $lightBlueGrey
		text-align center
		z-index 2
		^[0]_info &
			display none
		^[0]_small &
			width 120px
			height 120px
		+desktop()
			width 129px
			height 129px
			^[0]_simple &
			^[0]_add &
				width 109px
				height 109px
			^[0]_promo &
				width 204px
				height 204px
				border none
			^[0]_promo-right &
				float left
		^[0]_cheeses &
			background no-repeat 50% 50% url(../img/items/price-cheeses.svg)
			background-size 100% auto
			border none
		^[0]_set &
			border-radius 0
			width 90px
			height 90px
			border none
			background no-repeat 50% 50% url(../img/items/price-set.svg)
			background-size 100% auto
			+desktop()
				width 140px
				height 140px
		^[0]_set^[0]_promo &
			+desktop()
				border-radius 0
				width 271px
				height 271px
				background-size 100% auto
		^[0]_milk &
			border-radius 0
			width 100px
			height 100px
			border none
			background no-repeat 100% 50% url(../img/items/price-milk.svg)
			background-size 100% auto
			+desktop()
				width 150px
				height 150px
		^[0]_milk^[0]_promo &
			+desktop()
				width 270px
				height 220px
				padding-top 15px
				background-size auto 100%
		^[0]_kozmetika &
			border-radius 0
			width 100px
			height 100px
			border none
			background no-repeat 100% 50% url(../img/items/price-kozmetika.svg)
			background-size 100% auto
			+desktop()
				width 160px
				height 160px
		^[0]_kozmetika^[0]_promo &
			+desktop()
				width 200px
				height 200px

		&-wrap
			float right
			display block
			margin -50px 10px 0 0
			^[0]_small &
				margin -100px -10px -20px 0
			^[0]_milk &
				margin-top -80px
			^[0]_set &
				margin-top -70px
			^[0]_kozmetika &
				margin-top -90px
			+desktop()
				margin -90px 16px 0 0
				^[0]_simple &
				^[0]_add &
					margin -80px -9px 0 0
				^[0]_promo &
					margin -240px -80px 26px 0
				^[0]_small &
					margin -90px -20px 26px 0
				^[0]_set^[0]_promo &
					margin-top -300px
					margin-right -120px
				^[0]_milk &
					margin-top -115px
				^[0]_set &
					margin-top -100px
				^[0]_kozmetika &
					margin-top -120px
				^[0]_milk^[0]_promo &
					margin-top -256px
					margin-right -120px
				^[0]_kozmetika^[0]_promo &
					margin-top -220px
				^[0]_promo-right &
					order 4
					float left
					margin -240px 0 26px -80px
				^[0]_set^[0]_promo-right &
				^[0]_milk^[0]_promo-right &
					margin-left -120px

		&-old
			display none
			font-family $mulReg
			color $black
			+desktop()
				display table
				margin 20px auto -30px
				fontSize(14, 20)
				&:after
					transform rotate(-15deg)
					content ""
					display block
					width 140%
					height 1px
					margin -40% 0 0 -20%
					background-color $red
				^[0]_simple &
				^[0]_add &
					margin 14px auto -20px
				^[0]_promo &
				^[0]_small &
					margin 50px auto -55px
				^[0]_kozmetika &
					margin 48px auto -45px
				^[0]_set &
					margin 38px auto -40px
				^[0]_milk &
					margin 45px auto -52px
				^[0]_promo^[0]_kozmetika &
					margin 60px auto -65px
				^[0]_promo^[0]_milk &
					margin 60px auto -75px

		&-cur
			display block
			width 100%
			margin 16px 0 3px 0
			font-family $trola
			fontSize(21, 21)
			color $black
			^[0]_small &
				margin 34px 0 0 0
				fontSize(32, 35)
			^[0]_milk &
				margin-top 35px
				padding-right 5px
			^[0]_set &
				margin-top 25px
			^[0]_kozmetika &
				margin-top 30px
			+desktop()
				margin 34px 0 0 0
				fontSize(35, 36)
				^[0]_simple &
				^[0]_add &
					margin-top 24px
				^[0]_promo &
					margin-top 60px
					fontSize(55, 55)
				^[0]_milk &
					margin-top 55px
					padding-right 10px
				^[0]_set &
					margin-top 40px
				^[0]_kozmetika &
					margin-top 50px
				^[0]_promo^[0]_set &
					margin-top 100px
				^[0]_promo^[0]_milk &
					margin-top 80px
				^[0]_promo^[0]_kozmetika &
					margin-top 70px

		&-weight
			display block
			font-family $mulReg
			fontSize(12, 12)
			color $black
			^[0]_milk &
				padding-right 5px
			+desktop()
				fontSize(14, 20)
				^[0]_simple &
					fontSize(14, 18)
				^[0]_milk &
					padding-right 10px

	&__name
		clear both
		display block
		padding-top 10px
		^[0]_simple &
			width 100%
		^[0]_info &
			display none
		+desktop()
			transform translateY(-40px)
			position relative
			width calc(100% - 90px)
			margin-bottom -40px
			^[0]_simple &
			^[0]_add &
				transform translateY(0)
				margin-bottom 0
			^[0]_promo &
			^[0]_small &
				transform translateY(0)
				flex-basis 33%
				width auto
				margin-bottom 0
				padding-left 33px
				padding-top 0
			^[0]_small &
				width calc(100% - 250px)
				flex-basis calc(100% - 250px)
			^[0]_promo-right &
				top 0
				padding-left 0
				padding-right 33px

		&-desc
			display block
			font-family $mulReg
			fontSize(18, 20)
			color $black
			^[0]_small &
				padding-bottom 10px
				fontSize(20, 24)
				color $black + 70%
			+desktop()
				fontSize(20, 28)
				^[0]_small &
					padding-bottom 0

		&-wrap
			+desktop()
				display block
				padding 8px 0
				^[0]_promo &
				^[0]_small &
					display block

		&-name
			display inline
			font-family $mulMed
			fontSize(20, 29)
			color $blueDark
			^[0]:hover &
				color $red
			^[0]_small &
				fontSize(24, 28)
			+desktop()
				fontSize(24, 36)
				&:after
					content ""
					display inline-block
					width 100px
					height 30px
				^[0]_promo &
					fontSize(35, 42)
				^[0]_simple &
					&:after
						display none

		&-cart, &-envelope
			display inline-flex
			align-items center
			justify-content flex-end
			border-radius 50px
			width 110px
			height 45px
			margin-left 8px
			font-family $mulReg
			background-color rgba($red, .1)
			color $blueDark
			cursor pointer
			&_success
				
				background-color rgba($green, .1) 
				+desktop()
					background-color transparent
					^[0]:hover &:hover
						background-color rgba($green, .1) !important
						color #1A721F
				.product__name-envelope-icon
					stroke #1A721F !important
					fill none
					^[2]:hover &
						stroke #1A721F !important
				.product__name-envelope-text
					color #1A721F
			&:before
				content "+"
				position relative
				right -34px
				float left
				display block
				fontSize(20, 20)
				+edge()
					margin-top 12px
			+desktop()
				position absolute
				z-index 1
				display none
				margin-left -94px
				background-color transparent
				&:before
					display none
				^[0]:hover &
					display inline-flex
					&:before
						display block
					+edge()
						display inline-block

				^[0]_simple:hover &
					display none

				^[0]:hover &:hover
					background-color rgba($red, .1)
					color $red

			&-icon
				display inline-block
				width 44px
				min-width 44px
				height 28px
				margin-left -5px
				padding-right 19px
				fill $blueDark
				+edge()
					margin-top 10px
				^[2]:hover &
					fill $red
					+edge()
						float left

			&-text
				visibility visible
				fontSize(11, 13)
				color $red
				+desktop()
					visibility hidden
					^[2]:hover &
						visibility visible
						+edge()
							float right
							width 60px
							margin-top 10px
		&-envelope
			width 149px
			height 44px
			&:before
				content ""
				position absolute
				right 0px
				float left
				display block
				fontSize(0, 0)
				+edge()
					margin-top 0

			&-icon
				padding-right 11px
				margin-left 17px
				margin-top -3px
				stroke $blueDark
				fill none
				^[2]:hover &
					stroke $red
					fill none
			
			&-text
				display
				visibility visible
				fontSize(10, 12)
				margin-right 20px
				white-space pre
				color $red
				+desktop()
					visibility hidden
					^[2]:hover &
						visibility visible
						+edge()
							float right
							width 70px
							margin-top 40px