.deal
	box-shadow 0 6px 20px rgba(120, 100, 0, .2)
	border-radius 6px
	display block
	max-width 1000px
	width 95%
	margin 25px auto 0
	background $white
	text-decoration none
	color $black
	+desktop()
		margin 40px auto 0

	&__image
		border-radius 6px 6px 0 0
		display block
		width 100%
		height auto

	&__text
		display flex
		flex-wrap wrap
		padding 26px 20px 20px

		& .header
			max-width 600px
			min-width 300px
			color $blueDark

		& .button
			margin 14px 0 6px
			+desktop()
				margin 0 0 0 auto

	&:hover .button
		border-color $blueDark
	&:last-child
		margin-bottom 52px
