.change-pass
	display flex
	flex-direction column
	align-items center
	justify-content center
	width 100%
	margin 0 auto
	padding 70px 20px
	+desktop()
		max-width 500px
		height calc(100vh - 289px)
		padding 0 20px

	&__form
		width 100%

	&__field
		padding-top 20px

	&__btn
		margin-top 20px