include ../icon/icon
include ../field/field
include ../button/button

mixin head(data)

	- data = data || {}
	//- - random = data.id || Date.now()

	+b.head(
		data-cart-add-url= data.url || "resources/cartAdd.json"
	).js-head&attributes(attributes)

		+e.shade.js-head-shade

		+e.wrap
			+e.top
				+e.info
					+e.phone= data.phone
					+e.email(
						href="mailto:" + data.email
					)= data.email

				+e.top-menu
					each el in data.topMenu
						+e.top-menu-el(
							href= el.link || jv0
						).A= el.title

			+e.bottom
				+e.logo-block.A(href=jv0)
					+e.logo-wrap
						+e.logo
							+icon({icon: "sernur-club"})
					+e.logo-title Интернет-лавка<br /> Сернурского сырзавода

				+e.menu
					each el in data.menu
						if el.active
							+button({text: el.title, icon: "burger", iconRight: true}).head__menu-btn.js-head-menu-btn

					+e.menu-wrap
						each el in data.menu
							if el.active
								+e.menu-el._active.span= el.title
							else
								+e.menu-el(
									href= el.link || jv0
								).A= el.title

				+e.search()
					+e.search-icon.js-mobile-search
						+icon({icon: "search"})
					+e.search-field(
						action= data.searchUrl || "product.html"
						data-action= data.searchAjaxUrl || "resources/search.json"
						data-json="1"
						data-count="3"
					).FORM.js-head-search-form
						+field(data.search.field)
					+e.search-wrap
						+e.search-list.js-head-search-list
							//- +button(data.search.button).head__search-list-button


				+e.right-wrap

					if data.private
						+e.private(
							href= data.private.href || jv0
						).A= data.private.text

					if data.login
						+e.login.js-head-login
							+e.login-text.js-head-login-link= data.login.text
							+e.login-wrap
								+e.login-recovery.FORM.js-head-recovery-form(
									action="resources/recovery.json"
								)
									+e.login-block
										+field(data.login.recovery.email)
									+e.login-block
										+button(data.login.recovery.btn).js-head-login-btn
										+e.login-link.js-head-login-turn= data.login.recovery.linkText
								+e.login-login.FORM.js-head-login-form(
									action="resources/login.json"
								)
									+e.login-block
										+field(data.login.login.email)
									+e.login-block
										+field(data.login.login.pass)
									+e.login-block
										+button(data.login.login.btn).js-head-login-btn
										+e.login-link.js-head-login-turn= data.login.login.linkText
								+e.login-message.js-head-login-msg



					+e.cart.js-cart
						+e.cart-icon.A(href="cart.html")
							+icon({icon: "cart"})

						+button(data.cart.button).head__cart-btn.js-cart-btn

						+e.cart-amount(
							class= data.cart.amount.num ? "" : "_hide"
							href= data.cart.amount.link
						).js-cart-amount.A= data.cart.amount.num

						+e.cart-list
							- total = 0
							+e.cart-list-wrap.js-cart-list
								each el in data.cart.orderList
									+e.cart-list-el
										+e.cart-list-el-title= el.title
										+e.cart-list-el-price= el.price + " ₽"
										- total += el.price

							+button({text: "Заказать за " + total + " ₽", full: true, href: "cart.html"}).head__cart-list-button.js-cart-order
