.head
	// transition top .3s ease-in
	position sticky
	z-index 100
	top 0
	width 100%
	text-align right
	+desktop()
		text-align left

	&__shade
		position fixed
		left 0
		top 0
		z-index 99
		display none
		width 100%
		height 100%
		background-color rgba($black, .6)
		^[0]_search &
		^[0]_mobile-menu &
		^[0]_login &
			display block

	&__wrap
		position relative
		z-index 100

	&__top
		position fixed
		z-index -1
		top 0
		width 100%
		height 61px
		padding 10px 15px 0
		background-color #fffcda
		text-align left
		white-space nowrap
		overflow-x scroll
		overflow-y hidden
		+desktop()
			position fixed
			width 100%
			height 40px
			margin-bottom 0
			white-space normal
			overflow visible

	&__top-menu
		display inline-block
		margin-left 10px
		padding-right 60px
		+desktop()
			display block
		&-el
			display inline-block
			margin 0 10px
			font-family $mulMed
			fontSize(11, 19)
			text-decoration none
			color $blueDark
			+desktop()
				fontSize(14, 19)
			&:first-child
				margin-left 0
			&:hover
				color $red
	
	&__info
		display inline-block
		font-family $mulMed
		fontSize(11, 19)
		+desktop()
			float right
			fontSize(14, 19)

	&__email
		display inline-block
		text-decoration none
		color $blueDark
		+desktop()
			float right
		&:hover
			color $red

	&__phone
		display inline-block
		margin-right 10px
		color $black
		+desktop()
			float right
			margin-left 20px

	&__bottom
		position relative
		display flex
		justify-content space-between
		box-shadow 0 2px 2px 0 rgba(207, 131, 15, 0.7)
		height 70px
		padding 15px 15px 0
		background-color #ffc90b
		background linear-gradient(0, #ffc90b,  #ffeb78)

	&__logo
		transform rotate(-10deg)
		box-shadow 3px 3px 5px 0 rgba(207, 131, 15, 0.35)
		border-radius 50%
		position relative
		top -8px
		display inline-block
		width 70px
		height 70px
		padding 7px
		padding-top 10px
		background-color #c9e6e4
		border 3px solid $white
		fill #2c4596

		&-wrap
			position relative
			top -15px
			display inline-block
			width 76px
			height 70px

		&-block
			float left
			display inline-block
			margin-left -25px
			vertical-align top
			+desktop()
				float none
				margin-left 0
			^[0]_expand-search &
				margin-left -80px
				+desktop()
					margin-left 0

		&-title
			display none
			+w1200()
				display inline-block
				margin-top 2px
				padding-left 7px
				font-family $mulBold
				fontSize(14, 19)
				vertical-align top
				color $blueDark
				^[1]-block:hover &
					color $red

	&__menu
		float left
		display inline-block
		margin-left 10px
		padding-top 2px
		font-family $mulMed
		fontSize(16, 19)
		+desktop()
			float none
			margin 0 20px
		+w1200()
			margin 0 30px
		^[0]_expand-search &
			display none
			+desktop()
				display inline-block

		&-btn
			+desktop()
				display none

		&-wrap
			border-radius 3px
			position absolute
			left 0
			display none
			width calc(100% - 20px)
			margin 20px 10px 0
			background-color $white
			text-align left
			&:before
				content ""
				position relative
				top -35px
				left 130px
				width 0
				height 0
				border-left 6px solid transparent
				border-right 6px solid transparent
				border-bottom 8px solid $white
			^[0]_mobile-menu &
				display block
			+desktop()
				position static
				display block
				width auto
				margin 0
				background-color transparent
				&:before
					content none

		&-el
			display inline-block
			padding 9px
			text-decoration none
			color $blueDark
			+desktop()
				border-radius 6px
				border 1px solid transparent
				&_active
					border-color rgba($blueDark, .4)
					&:hover
						color $blueDark
			&:hover
				color $red

	&__search
		display inline-block
		flex-grow 2
		+desktop()
			flex-grow 0
			width 260px
		+w1200()
			width 310px
		^[0]_expand-search &
		^[0]_search &
			width calc(100% - 50px)
			margin-right 10px
			margin-left 10px
			text-align left
			+desktop()
				flex-grow 2
				width auto
				margin-left 0
				margin-right 20px

		&-icon
			display inline-block
			width 22px
			height 22px
			margin 10px 14px 0 0
			fill $blueDark
			+desktop()
				display none
			^[0]_expand-search &
				display none

		&-field
			display none
			+desktop()
				display inline-block
				width 100%
			^[0]_expand-search &
			^[0]_search &
				display inline-block
				width 100%

		&-wrap
			position absolute
			z-index 99
			// display none
			width 442px
			margin-top 15px
			// ^[0]_search &
			// 	display block

		&-list
			// transition all 2s linear 2s
			position absolute
			display none
			width 100%
			min-height 0
			padding-top 30px
			background-color $white
			text-align center
			// ^[0]_search &
			// 	min-height 650px

			&-el
				clear both
				display block
				min-height 200px
				padding-bottom 30px
				text-align left
				text-decoration none

			&-img
				display block
				width 100%
				height auto

				&-wrap
					float left
					display block
					width 250px
					height 166px
					margin 0 -166px 0 -125px
					overflow hidden

			&-params
				border-radius 50%
				position relative
				z-index 1
				top 75px
				left 35px
				display block
				width 112px
				height 112px
				margin-bottom -112px
				padding-top 26px
				background-color #b9d2e8
				border 5px solid $white
				text-align center
				color $black

			&-price
				display block
				padding-bottom 3px
				font-family $trola
				fontSize(35, 35)
				letter-spacing -1.272727px

			&-weight
				display block
				font-family $mulReg
				fontSize(14, 20)

			&-add
				display block
				width 250px
				margin-left 166px
				cursor pointer

			&-title
				display inline
				font-family $mulMed
				fontSize(24, 29)
				color $blueDark
				&:after
					content ""
					display inline-block
					width 40px
					height 30px
					// background-color red
				^[2]-el:hover &
					color $red

			&-icon
				display none
				width 27px
				height 27px
				vertical-align top
				fill $blueDark
				&:after
					content "+"
					position absolute
					margin -24px 0 0 28px
					fontSize(20, 20)
					color $blueDark
				^[2]-el:hover &
					position relative
					top 6px
					z-index 100
					display inline-block
					margin-left -30px

			&-subtitle
				display block
				width 250px
				margin 0 0 10px 166px
				font-family $trola
				fontSize(20, 24)
				color $black

			&-button
				margin-bottom 30px

	&__right-wrap
		+desktop()
			flex-grow 2
			text-align right
			^[0]_expand-search &
			^[0]_search &
				flex-grow 0

	&__cart
		display inline-block
		padding-bottom 17px

		&-icon
			display inline-block
			width 26px
			height 26px
			margin-top 8px
			fill $blueDark
			+desktop()
				display none
			^[0]_cart-list-open &
				+desktop()
					&:after
						content ""
						position absolute
						width 0
						height 0
						margin 6px 0 0 -18px
						border-left 6px solid transparent
						border-right 6px solid transparent
						border-bottom 8px solid $white

		&-btn
			display none
			+desktop()
				position relative
				display inline-block
				^[1]:hover &
				^[0]_cart-list-open &
					&:before
						content ""
						position absolute
						top 40px
						left 36px
						width 0
						height 0
						border-left 6px solid transparent
						border-right 6px solid transparent
						border-bottom 8px solid $white

		&-amount
			border-radius 50%
			position absolute
			display inline-block
			width 20px
			height 20px
			margin 20px 0 0 -14px
			padding 5px
			background-color $blueDark
			font-family $mulMed
			fontSize(12, 9)
			text-align center
			text-decoration none
			color #ffdf52
			+desktop()
				position static
				display inline-block
				width 30px
				height 30px
				margin 6px 0 0 10px
				fontSize(16, 19)
				&:hover
					cursor pointer
				&_hide
					display none

		&-list
			box-shadow 0 2px 2px 0 rgba($black, .13)
			border-radius 3px
			position absolute
			display none
			width 252px
			max-width 252px
			margin 10px 0 0 -220px
			padding 21px
			background-color $white
			overflow-x hidden
			+desktop()
				margin 10px 0 0 -80px
				^[0]_cart-list-open &
				^[1]:hover &
					display block

			&-wrap
				width 250px
				padding-right 20px
				max-height 300px
				overflow-y scroll

			&-el
				display table
				margin-bottom 12px
				font-family $mulReg
				fontSize(14, 19)
				color $black
				// &:after
				// 	content ""
				// 	display block
				// 	clear both

				&-title
					// float left
					display table-cell
					width 160px
					text-align left

				&-price
					display table-cell
					// float right
					width 40px
					padding-left 10px
					white-space nowrap
					text-align right
		
			&-button
				margin-top 20px
				text-align center

	&__private
		position fixed
		z-index -1
		right 0
		top 0
		display inline-block
		height 41px
		padding 10px
		background-color lightness(#ffc80b, 83%)
		font-family $mulMed
		fontSize(11, 19)
		text-decoration none
		color $blueDark
		+desktop()
			position static
			float right
			height auto
			margin-left 20px
			padding 12px 0 0 0
			background-color transparent
			fontSize(16, 19)
			&:hover
				color $red

	&__login
		position absolute
		right 0
		top -40px
		display inline-block
		height 41px
		padding 10px
		background-color lightness(#ffc80b, 83%)
		font-family $mulMed
		fontSize(16, 19)
		text-decoration none
		color $blueDark
		&:visited
			color $blueDark
		+desktop()
			position static
			float right
			height auto
			margin-left 20px
			padding 12px 0 0 0
			background-color transparent

		&-text
			text-decoration none
			color $blueDark
			cursor pointer
			+desktop()
				&:hover
					color $red
					
		&-wrap
			position absolute
			display none
			width 300px
			margin 14px 0 0 -260px
			padding 21px
			padding-bottom 6px
			background-color $white
			text-align left
			&:before
				content ""
				position relative
				top -29px
				left 5px
				float right
				width 0
				height 0
				border-left 6px solid transparent
				border-right 6px solid transparent
				border-bottom 8px solid $white
			^[0]_login &
				display block

		&-recovery
			display none
			^[1]_recovery &
				display block

		&-login
			display block
			^[1]_recovery &
				display none

		&-block
			padding-bottom 15px

		&-link
			float right
			padding-top 10px
			color lightness($blueDark, 60%)
			cursor pointer
			&:hover
				color $red
		&-message
			padding 10px
			text-align center
			color $red
