extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/b404/b404

block variable
	- bodyClass= 'page' 

block title
	title Страница сообщения

block body
	- data = getData('pass-changed')
	- home = true

	+head(data.head)

	+b404(data.page)

	+footer(data.footer)
