extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/cart-page/cart-page

block variable
	- bodyClass= 'page' 

block title
	title Корзина – Сайт Сернурского сырзавода

block body
	- data = getData('cart')

	+head(data.head).page__head

	+cart-page(data.page)

	+footer(data.footer).page__footer
