extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/catalog-page/catalog-page

block variable
	- bodyClass= 'page' 

block title
	title Каталог – Сайт Сернурского сырзавода

block body
	- data = getData('catalog')

	+head(data.head).page__head

	+catalog-page(data.page)

	+footer(data.footer).page__footer
