extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/category-page/category-page

block variable
	- bodyClass= 'page' 

block title
	title Подборки – Сайт Сернурского сырзавода

block body
	- data = getData('category')

	+head(data.head).page__head

	+category-page(data.page)

	+footer(data.footer).page__footer
