extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/deal-page/deal-page
include ../blocks/hero/hero
include ../blocks/sidebar/sidebar

block variable
	- bodyClass= 'page' 

block title
	title Акция какая-то одна – Сайт Сернурского сырзавода

block body
	- data = getData('deals')

	+head(data.head).page__head

	+deal-page(data.deals[0])

	+footer(data.footer).page__footer
