extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/friend-page/friend-page

block variable
	- bodyClass= 'page' 

block title
	title Приведи друга – Сайт Сернурского сырзавода

block body
	- data = getData('friend')

	+head(data.head).page__head

	+friend-page(data.page)

	+footer(data.footer).page__footer
