extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/product-page/product-page

block variable
	- bodyClass= 'page' 

block title
	title Творог 4% Ультрафильтрационный, из коровьего молока, в ведерке – Сайт Сернурского сырзавода

block body
	- data = getData('product')

	+head(data.head).page__head

	+product-page(data.page)

	+footer(data.footer).page__footer
