extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/recipe-page/recipe-page

block variable
	- bodyClass= 'page' 

block title
	title Салат «Хоровац»

block body
	- data = getData('recipe')

	+head(data.head).page__head

	+recipe-page(data.page)

	+footer(data.footer).page__footer
