extends core/layout

include ../blocks/head/head
include ../blocks/footer/footer
include ../blocks/hero/hero
include ../blocks/sidebar/sidebar
include ../blocks/text-page/text-page

block variable
	- bodyClass= 'page' 

block title
	title Текстовая страница – Сайт Сернурского сырзавода

block body
	- data = getData('text')

	+head(data.head).page__head

	+text-page(data)

	+footer(data.footer).page__footer
