include ../button/button

mixin hero(data, home)
	- data = data || {}
	- large = data.type === "blog" && home || data.type !== "blog"

	+b.hero(class= data.type === "blog" ? "_blog" : "")
		+e.background-wrap
			+e.background
		+e.wrap(class= large ? "" : "_small")
			if large
				+e.header= data.header
			else
				+e.header.A(
					href= jv0
				)= data.header
			if large
				+e.description()
					= data.description
				if data.tags
					+e.tags()
						each tag in data.tags
							+button(tag)
			if data.type === "deals"
				+e.subscribe-form.FORM
					+e.subscribe-form-el
						+field({
							"validate": "email",
							"placeholder": "Эл. почта",
							"type": "email",
							"color": "transparent"
						}).footer__subscribe-input
					+e.subscribe-form-el
						+button({
							"text": "Подписаться",
							"invert": true
						}).footer__subscribe-btn
