.incut
	display block
	margin 0 15%
	padding 13%
	background url(../img/goat-head.svg) no-repeat 50% 50%
	background-size 100% auto

	&__wrap
		border-radius 50%
		width 100%
		height 0
		max-height 0
		padding-bottom 99.2%
		border 3px dashed #f6c219
		text-align center

	&__title
		padding 30% 10% 0 10%
		font-family $mulBlack
		fontSize(75, 63)
		color #b6bf7e

	&__desc
		padding 3% 15% 0 15%
		font-family $trola
		fontSize(20, 24)
		color $black