// Дефолтные стили
*
	box-sizing border-box
	padding 0
	margin 0
	text-size-adjust none

// Аккуратные таблицы
table
	border-collapse collapse
	border-spacing 0

// Основные стили
html
	background rgb(251, 250, 240)

.svg
	&-wrap
		position absolute
		left -9999px
		width 1px
		height 1px
		overflow hidden

.img
	display block
	width 100%
	height auto

.page
	display flex
	flex-direction column
	min-height calc(100vh - 40px)
	margin-top 40px

	&__footer
		margin-top auto
