.uikit
	padding 10px
	background-color $bg

	&__title
		padding 20px 0 10px
		font-family sans-serif
		fontSize(20, 30)

	&__row
		margin-bottom 20px
		font-size 0

	&__el
		display block
		padding 0 10px 10px
		+desktop()
			display inline-block
			width 100%
			// padding 0 10px
			vertical-align top
			^[0]__row_2 &
				width 50%
			^[0]__row_3 &
				width 33.3%
			^[0]__row_4 &
				width 25%

	&__desc
		padding 6px 0 10px
		font-family sans-serif
		fontSize(12, 16)
		color black + 50%

.index
	padding 30px

	&__h
		padding-bottom 30px
		font-family sans-serif
		fontSize(24, 24)
		font-weight normal

	&__ul
		&-li
			margin-bottom 6px
			padding 6px 10px
			background-color rgba(yellow - 40%, .2)
			list-style none
			font-family sans-serif
			fontSize(16, 20)
