include ../header/header
include ../field/field
include ../saved-addr/saved-addr
include ../purchase/purchase
include ../button/button
include ../scale/scale

mixin private-page(data)
	- data = data || {}

	+b.private-page().js-private-page
		+e.wrap
			+e.private
				+e.form.FORM.js-private-page-form(
					action="catalog.html"
				)
					+e.private-header-wrap
						+header(data.private.header).private-page__private-header
						+e.private-logout
							+button(data.private.logout)
					+e.field-block.js-private-page-info
						each el in data.private.fields
							+e.field
								+field(el)
					+e.addrs
						+header(data.private.addrs.header).private-page__private-header-addrs
						+e.saved-addr
							+saved-addr(data.private.addrs.saved)
				+e.purchase
					+header(data.private.purchase.header).private-page__private-header-purchase
					+e.purchase-block
						each el in data.private.purchase.purchases
							+e.purchase-block-el
								+purchase(el)

			+e.bonuses
				+header({text: "Бонусные баллы"}).private-page__bonuses-head
				+e.bonuses-desc Баллами можно компенсировать до 30 % от суммы заказа, 1 балл — 1 рубль
				+e.bonuses-points
					+e.bonuses-total
						+e.bonuses-total-title Всего
						+e.bonuses-total-count 10 353
					+e.bonuses-total._hot
						+e.bonuses-total-title Сгорят через 10 дней
						+e.bonuses-total-count 1 575
					+e.bonuses-scale
						+scale(data.bonuses.scale)
				+e.history.js-private-page-history
					+e.history-hide
						+button({text: "Скрыть бонусную историю"}).js-private-page-history-hide
					+e.history-hide._hided
						+button({text: "Показать бонусную историю"}).js-private-page-history-hide
					+e.history-table
						table
							thead
								tr
									th Когда
									th Сколько
									th Сумма заказа
									th Когда сгорят
							tbody
								tr
									td
										| 14 сентября
										span.private-page__history-table-desc Подарок к 8 марта
									td
										span.private-page__history-table-plus +&nbsp;1000
									td
									td 31 декабря
								tr.mobile
									td
									td
										.private-page__history-table-title Когда сгорят
										.private-page__history-table-data 31 декабря
								tr
									td
										| 30 августа
										span.private-page__history-table-desc Компенсация покупки
									td
										span.private-page__history-table-minus –&nbsp;45
									td
									td
								tr.mobile
									td
									td
								tr
									td
										| 24 августа
										span.private-page__history-table-desc Бонус к заказу
									td
										span.private-page__history-table-plus +&nbsp;120
									td 1200
									td
								tr.mobile
									td
										.private-page__history-table-title Сумма заказа
										.private-page__history-table-data 1200
									td
								tr
									td
										| 3 мая
										span.private-page__history-table-desc Компенсация покупки
									td
										span.private-page__history-table-minus -&nbsp;400
									td
									td
								tr.mobile
									td
									td
								tr
									td
										| 8 марта
										span.private-page__history-table-desc Сгорели
									td
										span.private-page__history-table-minus -&nbsp;342
									td
									td
								tr.mobile
									td
									td



		+e.resume.js-private-page-resume
			+e.resume-wrap
				+e.resume-text
					+e.resume-new.js-private-page-changes
					+e.resume-title= data.resume.title
				+e.resume-btn.js-private-page-save-btn
					+button(data.resume.btn)

