.private-page

	&__wrap
		+desktop()
			display flex
			flex-direction row

	&__private
		flex-basis 50%
		position relative
		z-index 1
		box-shadow 0 2px 2px 0 #ebe8c8
		padding 0 10px 0 10px
		background-color #fbfaf0
		+desktop()
			flex-basis 50%
			box-shadow 2px 0 2px 0 #ebe8c8
			padding 0 35px 0 35px
		
		&-header
			display inline-block
			padding-top 30px

			&-addrs
				padding-top 30px

			&-purchase
				padding-top 20px
				+desktop()
					padding-top 50px

		&-logout
			float right
			padding-top 20px
			+desktop()
				padding-top 30px

	&__field
		padding-bottom 20px
		+desktop()
			max-width 50%
			flex-basis 50%
			&:nth-child(1n)
				padding-right 10px
			&:nth-child(2n)
				padding-left 10px

		&-block
			padding-top 27px
			+desktop()
				display flex
				flex-direction row
				flex-wrap wrap
	&__purchase
		&-block
			padding 26px 0 30px
			+desktop()
				padding 26px 0 100px
			&-el
				padding-bottom 37px
				&:last-child
					padding-bottom 0

	&__bonuses
		flex-basis 50%
		padding 15px 10px 10px 10px
		background-color #fffcda
		+desktop()
			flex-basis 50%
			padding 0 35px 0 35px

		&-head
			padding 30px 0 21px

		&-desc
			font-family $trola
			fontSize(20, 24)
			color black

		&-points
			padding 15px 0 25px
			&:after
				content ""
				display block
				clear both
			+desktop()
				&:after
					clear none
					display none

		&-total
			float left
			color $black
			&_hot
				float right
				text-align right
				color $red

			&-title
				font-family $mulReg
				fontSize(14, 19)

			&-count
				font-family $trola
				fontSize(35, 35)

		&-scale
			display none
			+desktop()
				clear both
				display block
				padding-top 21px

	&__history
		border-radius 3px
		padding 19px 22px 9px 22px
		background-color $white
		&_hide
			background-color transparent

		&-hide
			padding-bottom 20px
			^[1]_hide &
				display none
			&_hided
				display none
				^[1]_hide &
					display block

		&-table
			font-family $trola
			fontSize(20, 24)
			text-align left
			^[1]_hide &
				display none

			&-desc
				display block
				font-family $mulReg
				fontSize(14, 19)
				color $black
				+desktop()
					fontSize(13, 15)
					color lightness($black, 50%)

			&-minus
				color $green

			&-plus
				color $red

			&-title
				display block
				padding-top 10px
				font-family $mulReg
				fontSize(13, 15)
				color lightness($black, 50%)

			&-data
				padding-bottom 10px
				fontSize(20, 32)

			table
				width 100%

				tr
					+desktop
						border-bottom 1px solid lightness($black, 90%)
					&:last-child
						border-bottom none

				tr.mobile
					border-bottom 1px solid lightness($black, 90%)
					&:last-child
						border-bottom none
					+desktop()
						display none
					td
						padding 0

				th
					border-bottom 1px solid lightness($black, 90%)
					font-family $mulReg
					fontSize(13, 15)
					font-weight normal
					color lightness($black, 50%)
					+desktop()
						border-bottom none

				th
				td
					padding 10px 0
					&:nth-child(3)
					&:nth-child(4)
						display none
					+desktop()
						&:nth-child(3)
						&:nth-child(4)
							display table-cell

	&__resume
		height 0px
		overflow hidden
		^[0]_changes &
			height auto
			+desktop()
				position sticky
				z-index 5
				bottom 0
				height 115px
				overflow visible

		&-wrap
			// position relative
			// z-index 2
			height auto
			padding 21px 35px 30px
			background-color $white
			box-shadow 0 -6px 16px 0 rgba(228, 225, 204, .4)
			+desktop()
				height 115px
				padding 21px 35px 0
			// ^[1]_fixed &
			// 	position fixed
			// 	z-index 5
			// 	width 100%
			// 	left 0
			// 	bottom 0

		&-text
			+desktop()
				float left
				width calc(100% - 250px)

		&-new
			padding-bottom 5px
			font-family $mulReg
			fontSize(14, 19)
			color rgba(58, 61, 112, 0.4)

		&-title
			display none
			font-family $trola
			fontSize(46, 46)
			color $black
			+desktop()
				display block

		&-btn
			display block
			padding-top 20px
			+desktop()
				float right
				padding-top 0
