.scale
	height 16px
	padding-top 8px

	&__total
		height 2px
		margin-top -1px
		background-color lightness($black, 89%)
		^[0]_color-red &
			background-color $red

	&__value
		transition width .5s linear
		width 0
		height 2px
		margin-top -2px
		background-color $green
		^[0]_color-red &
			background-color lightness($black, 89%)

	&__slider
		transition margin .5s linear
		position relative
		left -2px
		border-radius 4px
		width 4px
		height 16px
		margin-top -9px
		background-color $green
		^[0]_no-slider &
			display none
