.field-options
	&__option
		border-radius 96px
		display inline-block
		max-width 100%
		margin-top 10px
		padding 10px 20px
		background-color rgba($white, .6)
		font-family $mulReg
		fontSize(14, 19)
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
		color $black
		cursor pointer
		&:hover
			background-color $white
