include ../field/field

mixin field-options(data)

	- data = data || {}
	//- - data.id = data.id || Date.now()

	+b.field-options().js-field-options
		+field(data.field).field-options__field
		+e.list
			each el in data.options
				.field-options__option()&attributes(el.data).js-option= el.text