.promo
	display inline-block
	&_active
		display block
	
	&__wrap
		border-radius 6px
		margin-top 14px
		padding 0 19px
		background-color rgba(125, 212, 126, 0.1)
		^[0]_active &
			padding 9px 19px

	&__field
		display none
		padding-bottom 11px
		+desktop()
			width 65%

		&-el
			margin-bottom 21px
