.footer
	background-color #333562
	font-family $mulMed
	fontSize(14, 19)
	+desktop()
		padding 30px 35px
		background-color $violet
		&:after
			content ""
			display block
			clear both

	&__subscribe
		padding 23px 11px 28px
		+desktop()
			float right
			padding 0
		+w1200()
			display flex
			flex-direction row
			align-items flex-start
			width 40%

		&-info
			min-width 200px
			// +desktop()
			+w1200()
				min-width 35%
				padding-right 10px

		&-title
			padding 0 4px
			color $white

		&-desc
			width 200px
			padding 10px 4px 15px
			color $lightViolet
			+desktop()
				width auto
			+1200()
				width auto
				padding-bottom 0

		&-form
			border-radius 6px
			display flex
			flex-direction row
			align-items center
			margin-top 6px
			padding 10px
			background-color $violet
			+desktop()
				flex-basis 100%
				background-color rgba($white, .1)

			&-el
				&:first-child
					flex-basis 100%
					padding-right 10px

	&__name
		padding 23px 18px 18px
		background-color $violet
		color $lightViolet
		+desktop()
			display inline-block
			padding 0
			vertical-align top

		&-title
			padding-bottom 11px

		&-icon
			display inline-block
			width 55px
			height 55px
			fill $lightViolet

		&-link
			display inline-block
			padding 18px 0 0 10px
			vertical-align top

	&__menu
		padding 0 16px 35px
		background-color $violet
		+desktop()
			display inline-block
			padding 0 35px
		+w1200()
			padding 0 50px

		&-block
			display inline-block
			vertical-align top
			&:first-child
				padding-right 50px
		&-el
			display block
			margin-bottom 10px
			text-decoration none
			white-space nowrap
			color $white
			&:hover
				color $yellowDark

	&__info
		padding 0 15px
		background-color $violet
		+desktop()
			display block
			padding 0
		+w1200()
			display inline-block
			vertical-align top

		&-block
			display inline-block
			vertical-align top
			+w1200()
				display block

		&-phone
			padding-bottom 10px
			color $white

		&-email
			text-decoration none
			color $white
			&:hover
				color $yellowDark

		&-soc
			float right
			+desktop()
				float none
				padding-top 15px
			+w1200()
				padding-top 35px

			&-el
				display inline-block
				width 23px
				height 23px
				margin-left 12px
				fill $white
				&:hover
					fill $yellowDark
				+desktop()
					margin 0 12px 0 0

	&__made
		padding 35px 15px
		background-color $violet
		+desktop()
			float right
			clear both
			width 100%
			margin-top 20px
			padding 0
			text-align right
		+w1200()
			margin-top -30px

		&-icon
			display inline-block
			width 28px
			height 28px
			fill $lightViolet

		&-title
			display inline-block
			padding 4px 0 0 10px
			vertical-align top
			text-decoration none
			color $lightViolet
