.counter
	-webkit-font-smoothing antialiased
	font-family $mulMed
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

	&__input
		position absolute
		left -99999px

	&__wrap
		height 39px
		white-space nowrap
		^[0]_flex
			display inline-block

	&__field
		border-radius 96px
		display inline-block
		width calc(100% - 74px)
		height 37px
		padding 0 14px
		background-color $white
		fontSize(16, 37)
		text-align center
		vertical-align top
		color $black
		&:focus
			outline none

	&__btn
		display inline-block
		width 37px
		height 37px
		padding 11px
		cursor pointer
		fill $blueDark
		&_disabled
			cursor default
			fill lighten($blueDark, 70%)
