include ../icon/icon

mixin counter(data)

	- data = data || {}
	//- - data.id = data.id || Date.now()

	+b.counter(
		class= data.color ? "_color-" + data.color : ""
		class= data.flex ? "_flex" : ""
		data-postfix= data.postfix
		data-increment= data.increment
		data-max= data.max
		data-min= data.min
		data-negative= data.negative ? "true" : "false"
		data-ratio= data.ratio
		data-event-change= data.eventChange
	).js-counter&attributes(attributes)

		+e.input(
			type="number"
			name= data.name
			value= data.initial
		).INPUT.js-counter-native

		+e.wrap

			+e.btn._minus.js-counter-minus
				+icon({icon: "minus"})

			- postfix = data.postfix ? " " + data.postfix : ""
			- mulipliedVal = data.initial * (data.ratio || 1)
			- value = mulipliedVal.toString().replace('.', ',') + postfix
			+e.field.js-counter-field(
				contenteditable= data.editable ? "true" : "false"
			)= value

			+e.btn._plus.js-counter-plus
				+icon({icon: "plus"})