.bill
	display none
	&_show
		display block

	&__shade
		position fixed
		z-index 10
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba($black, 0.6)

	&__wrap
		position absolute
		z-index 11
		top 40px
		left 50%
		width 440px
		margin-left -12.5%
		padding 100px 30px 30px
		background-color $white
		^[0]_fixed &
			position fixed
			top 0

	&__form
		padding-top 25px
		^[0]_answer &
			display none

		&-el
			padding-bottom 23px

	&__desc
		font-family $trola
		fontSize(20, 30)
		color $black

	&__answer
		display none
		padding-top 25px
		^[0]_answer &
			display block

		&-link
			padding-bottom 20px
			a
				font-family $trola
				fontSize(18, 20)
				text-decoration none
				color $blueDark

		&-text
			padding-bottom 20px
			font-family $trola
			fontSize(20, 30)
			color $black
