include ../header/header
include ../menu/menu
include ../category/category
include ../menu/menu

mixin category-page(data)
	- data = data || {}

	+b.category-page().js-category-page
		+e.menu
			+menu(data.menu)
		+e.wrap
			+e.main
				+e.header
					+header({text: "Привет! Мы — Сернурский сырзавод, а это наши вкусные и прекрасные продукты"})
				each el in data.categories
					+e.category
						+category(el)
