.category-page

	&__menu
		+desktop()
			position sticky
			z-index 10
			top 65px

	&__wrap
		+desktop()
			display flex
			flex-direction row
			align-items stretch
			min-height 100%

	&__main
		padding 30px 10px 0
		+desktop()
			// flex-basis 75%
			padding 30px 35px

	&__header
		padding-bottom 40px

	&__category
		padding-bottom 30px
