.recipes

	&__wrap
		+desktop()
			display flex
			flex-direction row
			align-items stretch
			min-height 100%

	&__side
		+desktop()
			box-shadow 2px 2px 2px 0 #ebe8c8
			background-color #fffcda

	&__content
		margin 0 auto
		.header
			padding-left 15px
			+desktop()
				padding-left 25px

	&__main
		padding 23px 0px 0
		+desktop()
			padding 23px 0px 0

	&__divider
		user-select none
		position relative
		margin-bottom 23px
		text-align center

		&-header
			z-index 3
			display inline-block
			padding 10px 25px
			background rgb(251, 250, 240)
			font-family $mulMed
			fontSize(24, 29)

			&:before
				transform translateX(-50%)
				content ''
				position absolute
				z-index -1
				bottom 20px
				left 50%
				display block
				width 100%
				height 2px
				background #F1CB0D

	&__list
		margin 0 0 40px
		font-size 0

		+desktop()
			margin 0 10px 40px
			padding 0 10px

		+desktop()
			padding 0

		&-el
			display inline-block
			width 50%
			padding 0 15px 30px 15px
			vertical-align top
			&:last-child
				padding-bottom 30px
			+w480()
				width 100%
				&:last-child
					padding-bottom 0
			+desktop()
				width 33.3%
