include ../button/button
include ../field/field

mixin saved-addr(data)
	- data = data || {};
	- placeholder = "Введите адрес"
	- errMsg = "Мы не можем найти такой адрес"

	+b.saved-addr(
		data-event-delete= data.eventDelete
	).js-saved-addr&attributes(attributes)
		+e.wrap

			each el, i in data.saved
				+e.field
					- label = i === 0 ? "Основной адрес" : "Дополнительный адрес #" + i
					- elData = {"placeholder": placeholder, "type": "text", "label": label, "name": "addr" + i, "error": errMsg, "clear": {"icon": "close", "text": "Удалить"}, value: el}
					+field(elData)

		//- +e.add
		//- 	+button({"text": "Добавить ещё адрес", "icon": "plus", "rounded": true, "color": "white"}).js-saved-addr-add
