.category
	border-radius 3px
	margin-top 60px
	padding 28px 0 0
	&_blue
		box-shadow 0 2px 4px 0 #7998b3
		background-color rgba(185, 210, 232, 0.2)
	&_green
		box-shadow 0 2px 4px 0 #b6bf7e
		background-color rgba(182, 191, 126, 0.2)
	&_red
		box-shadow 0 2px 4px 0 #f0d6be
		background-color rgba(253, 237, 222, 0.2)
	+desktop()
		display flex
		margin-top 0

	&__name
		flex-basis 218px
		min-width 218px

		&-wrap
			position relative
			top -90px
			margin 0 auto -70px
			font-family $mulBlack
			fontSize(75, 63)
			color $white
			word-wrap break-word
			+desktop()
				top 0
			^[0]_blue &
				width 238px
				background url(../img/category/blue.svg) no-repeat 50% 0
				background-size 100% 100%
				padding 51px 12px 68px 25px
				+desktop()
					margin -49px 0 0 -29px
			^[0]_red &
				width 255px
				background url(../img/category/red.svg) no-repeat 50% 0
				background-size 100% 100%
				padding 48px 16px 33px 43px
				+desktop()
					margin -49px 0 0 -47px
			^[0]_green &
				width 238px
				background url(../img/category/green.svg) no-repeat 50% 0
				background-size 100% 100%
				padding 51px 12px 68px 25px
				+desktop()
					margin -49px 0 0 -29px

	&__products
		&-wrap
			+desktop()
				display flex
				^[0]_show &
					flex-wrap wrap

	&__product
		display none
		padding-right 20px
		padding-bottom 30px
		&:first-child
		&:nth-child(2)
		&:nth-child(3)
			display block
		^[0]_show &
			flex-basis 33.3%
			display block

	&__show-all
		padding-bottom 30px
		text-align center
		^[0]_show &
			display none
